.stars-color {
  color: #CEB916;
}

body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #e50914;
  text-shadow: 1px 1px 2px black;
}

p {
  color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #f6c605;
}

.container {
  background-color: #590207;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.img-rev {
  width: 300px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(229, 9, 20, 0.4);
  transition: transform 0.3s ease;
}

.img-rev:hover {
  transform: scale(1.05);
}

.card {
  background-color: #1e1e1e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.btn-primary {
  background-color: #e50914;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #b00610;
}

input,
textarea {
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #444;
}

input:focus,
textarea:focus {
  border-color: #e50914;
  box-shadow: 0 0 0 0.2rem rgba(229, 9, 20, 0.25);
}


.review-form-container {
  max-width: 800px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.review-form-container h3 {
  font-size: 1.8rem;
  margin: 30px 0 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e50914;
  text-align: center;
}

.review-form {
  background-color: #000000;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  transition: box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(229, 9, 20, 0.2);
  border-color: #e50914;
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
}

.submit-button {
  padding: 12px 20px;
  background-color: #e50914;
  color: rgb(4, 4, 4);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 1.1rem;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #c2000d;
}